/* CSS HEX */
/* --spanish-gray: #94a0a1ff;
--powder-blue: #9ad5d6ff;
--verdigris: #54b8baff;
--morning-blue: #7d9999ff;
--electric-blue: #6debedff; */



html, body {

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
  height: 100%;
  /* overflow: hidden; */
}



#navigation {

  background-color: #3A8EB5;
  height: 6vh;
  width: 100vw;
  position: sticky;
  top: 0%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-bottom: 2vh; */
  /* margin-bottom: 5vh; */
  z-index: 100;

}

#navigation a {

  /* align-content: space-between; */

  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vh;
  font-size: 1.25vw;
  
  text-decoration: none;
  
  color: white;
  
}

#navigation a:hover {
  
  color: black;
  cursor: pointer;
  
}

.image-container {
  
  height: 10vh;
  
}


.image-container img{
  
  width: 100%;
  height: auto;
  /*
  overflow: hidden; */
  
  object-fit: cover;
}

#root-div {
  
  /* 222526 */
  /* background-color: #3D494F */
  /* background: linear-gradient(45deg, #222526, #3D494F); */
  /* background: linear-gradient(180deg, #BCE0F1, #7BC2E3, #BCE0F1); */
  
  background-color: #22333B;
  height: 98vh;
  width: 100vw - 2vh;
  
  border-color: #2D434E;
  border-top-width: 1vh;
  border-bottom-width: 1vh;
  border-left-width: 1vh;
  border-right-width: 1vh;
  border-style: solid;
  border-radius: 0%;
  
}



.container {
  position: absolute;
  text-align: center;
  /* margin-right: 15%; */
  /* margin-left: 15%; */
  top: 10%;

}

.container h2 {
  margin: 0%;
  /* padding-top: 7vh; */
}

#Blog {
  padding-top: 0%;
  height: 50vw;
}
#Blog .sub-header-text p {
  color:#BCE0F1
}
#Blog a {
  /* text-decoration: none; */
  color: #7BC2E3;
}
#Blog a:hover {
  color: white;
}

#project-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

#project-list-header {

  margin-bottom: 2%;
  /* align-self: left; */
  /* margin-left: 20%; */
  width: 40%;

}

#experience-list-header {
  margin-bottom: 2%;
  width: 50%
}

.MuiDivider-root hr {
  color: white;
  background-color: white;
}

.project-card {

  /* background-color: white; */
  /* min-height: 120%; */
  /* width: 20%; */
  /* height */
  /* height: auto; */
  /* margin-right: 1%; */
  /* margin-left: 1%; */
  /* margin-top: 2%; */
  /* padding-top: 4vh; */
  /* margin-bottom: 0%; */
  /* display: flex; */
}
.project-card img {
  /* align-self: center; */
  width: 10%;
  height: auto;
}

.project-card h3 {
  font-size: 3vmin;
}
.project-card h4 {
  font-size: 1.75vmin;
}


#title {
  font-size: 12vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}
#title h3 {
  margin-bottom: 0%;
  margin-top: 0%;
  margin-right: 40vmin;
  /* color: linear-gradient(to left top, #BCE0F1, #7BC2E3); */
  color: #F2F4F3;

}
#title #bottom {
  margin-left: 30vw;

}

#About {
  /* padding-top:4vh; */

}

#information {
  font-size: 2vw;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  justify-content:space-between
}

#contact-header-clickable {

  font-style: italic;

  font-size: 2vw;


}

#more-about button a {

 text-decoration: none;
  color: black;
}

#contact-header-clickable:hover {
  cursor: pointer;
  opacity: .8;
}

#Contact img {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  width: 15vw;
  height: auto;
  
  margin-top: 2vh;
}
#Contact {
  padding-top: 0%;
}
#Contact p {
  font-size: 1.5vw;
  /* width: 50%; */
  margin-right: 25%;
  margin-left: 25%;
color: #F2F4F3;

  /* text-align: center; */
}

#Contact a {
  font-size: 1.5vw;
  text-decoration: none;
  color:white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-width: 4px;
  padding: 20px;
}

#Contact a:hover {
  color:#1d6a8e;
  /* font-style: italic; */
}

.white-header{
  font-size: 3vw;
  color: #F2F4F3;
}

#more-about {
  padding-top: 5vh;
  /* margin-top: 30vh; */
  /* margin-bottom: 40vh; */
}

#more-about p {

  font-size: 1.7vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  margin-top: 0%;
  /* margin-right: 20vw; */

  color: #F2F4F3;


}

#framework-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
}
#framework-list li {
 font-size: 1.5vw;
 margin: 1.5vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 color: #BCE0F1;

}
#framework-list img {
  margin-right: 15px;
  height: auto;
  width: 3vw;
  background-color: #BCE0F1;
  border-style: solid;
  padding: .5vw;
  border-width: 5%;
  border-radius: 10%;
}
#webImage img{
  width: 3vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.sub-header-text p {

  font-size: 2vw;
  margin-bottom: 0%;
  margin-top: 0%;
  /* margin-right: 20vw; */

  color: #F2F4F3;

}

#Experience {
  height: 100vh;
}

.xp-item h3 {
  margin: 0%;
}
.xp-item h5 {
  margin: 2.5%;
}
.xp-item p {
  font-size: 2.5vmin;
}

.sub-header-text .xpItem-pos{
  font-size: 1.3vw;
  margin-top: 0%;
  color: #BCE0F1;
}

#Experience .sub-header-text h2 {

  padding-top: 0;

}

#Projects {
  /* padding-top: 0vh; */
  color: #F2F4F3;
  /* padding-bottom: 10vh; */
  /* height: 110vh; */
  margin-left: 10%;
  width: 80%;
}

.gh-link img{
  width: 3vw;
  height: auto;
  background-color: #F2F4F3;
  border-radius: 50%;
  /* padding: 2%; */
}

.project-card a .main-project-image {
  height: 10vw;
  width: auto;
}


.toolBox {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.toolBox li {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  opacity: 0.8;
}

.toolBox li p{
  font-size: .75vw;
  margin-left: .5vw;
  margin-right: .5vw;
}